<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>name</key>
    <string>Weight Book</string>
    <key>slug</key>
    <string>weight-book</string>
    <key>version</key>
    <string>1.0.3</string>
    <key>orientation</key>
    <string>portrait</string>
    <key>icon</key>
    <string>./assets/icon.png</string>
    <key>splash</key>
    <dict>
      <key>image</key>
      <string>./assets/icon.png</string>
      <key>resizeMode</key>
      <string>contain</string>
      <key>backgroundColor</key>
      <string>#ffffff</string>
    </dict>
    <key>updates</key>
    <dict>
      <key>fallbackToCacheTimeout</key>
      <integer>0</integer>
    </dict>
    <key>assetBundlePatterns</key>
    <array>
      <string>**/*</string>
    </array>
    <key>ios</key>
    <dict>
      <key>supportsTablet</key>
      <true/>
      <key>bundleIdentifier</key>
      <string>me.loganstucki.weightbook</string>
      <key>googleServicesFile</key>
      <string>./GoogleService-Info.plist</string>
      <key>config</key>
      <dict>
        <key>googleMobileAdsAppId</key>
        <string>ca-app-pub-3845309455501477~3834632831</string>
      </dict>
      <key>infoPlist</key>
      <dict>
        <key>NSUserTrackingUsageDescription</key>
        <string>This identifier will be used to deliver personalized ads to you.</string>
      </dict>
    </dict>
    <key>android</key>
    <dict>
      <key>adaptiveIcon</key>
      <dict>
        <key>foregroundImage</key>
        <string>./assets/adaptive-icon.png</string>
        <key>backgroundColor</key>
        <string>#FFFFFF</string>
      </dict>
      <key>config</key>
      <dict>
        <key>googleMobileAdsAppId</key>
        <string>ca-app-pub-3845309455501477~3647688747</string>
      </dict>
      <key>package</key>
      <string>me.loganstucki.weightbook</string>
      <key>googleServicesFile</key>
      <string>./google-services.json</string>
    </dict>
    <key>plugins</key>
    <array>
      <string>@react-native-firebase/app</string>
      <string>@react-native-firebase/perf</string>
      <string>@react-native-firebase/crashlytics</string>
      <array>
        <string>expo-tracking-transparency</string>
        <dict>
          <key>userTrackingPermission</key>
          <string>This identifier will be used to deliver personalized ads to you.</string>
        </dict>
      </array>
    </array>
    <key>extra</key>
    <dict>
      <key>eas</key>
      <dict>
        <key>projectId</key>
        <string>51659574-9cd1-4457-925c-f2b3c711de5e</string>
      </dict>
    </dict>
    <key>_internal</key>
    <dict>
      <key>isDebug</key>
      <false/>
      <key>projectRoot</key>
      <string>/Users/loganstucki/development/weight-book</string>
      <key>dynamicConfigPath</key>
      <dict/>
      <key>staticConfigPath</key>
      <string>/Users/loganstucki/development/weight-book/app.json</string>
      <key>packageJsonPath</key>
      <string>/Users/loganstucki/development/weight-book/package.json</string>
      <key>pluginHistory</key>
      <dict>
        <key>@react-native-firebase/app</key>
        <dict>
          <key>name</key>
          <string>@react-native-firebase/app</string>
          <key>version</key>
          <string>14.1.0</string>
        </dict>
        <key>@react-native-firebase/perf</key>
        <dict>
          <key>name</key>
          <string>@react-native-firebase/perf</string>
          <key>version</key>
          <string>14.1.0</string>
        </dict>
        <key>@react-native-firebase/crashlytics</key>
        <dict>
          <key>name</key>
          <string>@react-native-firebase/crashlytics</string>
          <key>version</key>
          <string>14.1.0</string>
        </dict>
        <key>expo-tracking-transparency</key>
        <dict>
          <key>name</key>
          <string>expo-tracking-transparency</string>
          <key>version</key>
          <string>2.0.3</string>
        </dict>
      </dict>
    </dict>
    <key>sdkVersion</key>
    <string>43.0.0</string>
    <key>platforms</key>
    <array>
      <string>ios</string>
      <string>android</string>
      <string>web</string>
    </array>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesURL</key>
    <string>https://exp.host/@[object Object]/undefined</string>
  </dict>
</plist>