<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486335394772-h1lss21qgmg0cn4vogp7jukqqi2tcm1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486335394772-h1lss21qgmg0cn4vogp7jukqqi2tcm1v</string>
	<key>API_KEY</key>
	<string>AIzaSyBL0I4TEVo5BuFy23Tc7U15MKdp0nGzRuM</string>
	<key>GCM_SENDER_ID</key>
	<string>486335394772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.loganstucki.weightbook</string>
	<key>PROJECT_ID</key>
	<string>weight-book</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486335394772:ios:abca85f7fd61bdfd0b1c41</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3845309455501477~3834632831</string>
</dict>
</plist>